* {background-color: white}
* {font-family: 'Courier New', Courier, monospace;}

.nav-item {
    font-size: 25px;
    padding: 1%;
}

.footer {
    list-style-type: none;
    text-align: center;
    margin-top: 2%;
    border-style: solid;
    border-color: lightblue;
    background-color: lightblue;
    margin: 1em;
  }
  
  .footer li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    color: blue;
  }

.row{
    display: flex;
    text-align: center;
}
/* Homepage CSS */
#about {
    text-align: center;
    border-style: solid;
    border-color: black;
}

#contact {
    border-style: solid;
    border-color: black;
    background-color: lightblue;
    text-align: center;
}

#map {
    border-style: solid;
    border-color: black;
    background-color: lightgreen;
}

#location {
    border-style: solid;
    border-color: black;
    background-color: lightgreen;
}

ul.usef-specs {
    background-color: lightpink; 
    list-style-type: circle; 
    list-style-position: inside;
}

ul.usef-specs li {
    background-color: lightpink;
    font-size: 20px;
    text-align: left;
}

/* Competition Page CSS */

#competitions {
    text-align: center;
    font-size: 40px;
    border-color: black;
    border-style: solid;
    background-color: lightpink;
    
}

#comp {
    border-style: solid;
    border-color: black;
    background-color: lightyellow;
}

#results {
    text-align: center;
    border: solid;
    text-align: center;
    font-size: 30px;
    background-color: lightcyan;
}
.table {
    background-color: whitesmoke;
    font-size: 20px;
    border: 3px solid black;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.grid {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

#usef-info {
    font-size: 20px;
    background-color: rgb(255, 205, 244);
    text-align: center;
    margin-top: .5em;
}
/* Down Time CSS */

ul.loves-specs {
    background-color: lightyellow; 
    list-style-type: circle; 
    list-style-position: inside;
}

ul.loves-specs li {
    background-color: lightyellow;
    font-size: 25px;
    text-align: left;
}
