* {background-color: rgb(233, 233, 233)}
* {font-family: 'Courier New', Courier, monospace;}

#navbar {
    list-style-type: none;
    text-align: center;
    border-style: solid;
    border-color: lightblue;
    background-color: lightblue;
    margin-right: 5%;
    margin-left: 5%;
    font-size: 30px;
}

.footer {
    list-style-type: none;
    text-align: center;
    margin-top: 2%;
    border-style: solid;
    border-color: lightblue;
    background-color: lightblue;
    margin-right: 10%;
    margin-left: 10%;
  }
  
  .footer li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    color: blue;
  }

.row{
    display: flex;
    text-align: center;
}
/* Homepage CSS */
#about {
    text-align: center;
    margin-left: 8%;
    margin-right: 2%;
    margin-top: .5%;
    border-style: solid;
    border-color: black;
    margin-bottom: .2%;
}

#contact {
    border-style: solid;
    border-color: black;
    background-color: lightblue;
    margin-right: 8%;
}

#map {
    border-style: solid;
    border-color: black;
    background-color: lightgreen;
}

#location {
    border-style: solid;
    border-color: black;
    background-color: lightgreen;
    margin-left: 46.5%;
    margin-right: 10.5%;
}

/* Competition Page CSS */

#usef-id {
    background-color: lightpink;
    font-size: 20px;
    text-align: left;
}

#competitions {
    text-align: center;
    font-size: 40px;
    border-color: black;
    border-style: solid;
    margin-left: 35%;
    margin-right: 37%;
    background-color: lightpink;"
    
}

#comp {
    border-style: solid;
    border-color: black;
    background-color: lightyellow;
    margin-right: 10%;
    margin-left: 15%;
    margin-top: 8%;
    margin-bottom: 1%;
}

#video {
    margin-left: 50px;
    margin-right: 50px;
}

#results {
    text-align: center;
    border: solid;
    text-align: center;
    font-size: 30px;
    background-color: lightcyan;
    margin-left: 35%;
    margin-right: 37%;
}
#table {
    background-color: whitesmoke;
}

.grid {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
}

#usef-info {
    font-size: 20px;
    background-color: rgb(255, 205, 244);
    text-align: center;
    margin-left: 11%;
    margin-right: 11%;
}
/* Down Time CSS */

#loves {
    background-color: lightyellow;
    text-align: left;
    font-size: 30px;
    list-style-position: inside;
    list-style-type: circle;
}
